<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/chatbot.css">
    
    
    <title>사투리 챗봇</title>
</head>
<body>
    



    <!-- Currently BROKEN!
    Working prototype on meesrutten.me :) -->
    <main class="page__main">
        <div class="block--background">
        <div class="chatbot__overview">
            <ul class="chatlist">
            <li class="bot__output bot__output--standard">안녕하우꽈!</li>
            <li class="bot__output bot__output--standard">오늘 하루 어땠우꽈?</li>
            <li class="bot__output bot__output--standard">
                <span class="bot__output--second-sentence">저에게 이런 것들을 물어봐주세요!</span>
                <ul>
                <li class="input__nested-list">"너 밥 먹었니?"</li>
                <!-- <span class="bot__command"></span> -->
                <li class="input__nested-list">"<span class="bot__command">JavaScript</span>로 눈송이를 만들어주세요"</li>
                <li class="input__nested-list">"가장 싫어하는 음식은 무엇입니까?"</li>
                <li class="input__nested-list">레시피</li>
                </ul>
                저에게 어쩌고를 할 수 있습니다~!
            </li>
            </ul>
        </div>
        <div class="chatbox-area">
            <form action="" id="chatform">
                <textarea placeholder="Talk to me!" class="chatbox" name="chatbox" resize: "none" minlength="2"></textarea>
                <input class="submit-button" type="submit" value="send">
            </form>
        </div>
            <div class="block--background"></div>

    </main>



    <!-- javascript 호출 -->
    <script src="../static/chatbot.js"></script>
</body>
</html>