<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/chatbot.css">
    <link rel="stylesheet" href="../static/loading_bar.css">
    <link rel="icon" href="../static/logo.png">
    
    <!-- jQuery 불러오기 -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    
    <title>사투리 챗봇</title>
</head>
<body>
    



    <!-- Currently BROKEN!
    Working prototype on meesrutten.me :) -->
    <main class="page__main">
        <div class="block--background">
        <div class="chatbot__overview">
            <ul class="chatlist">
                <li class="bot__output bot__output--standard"><span class="bot__command">안녕하우꽈!</span></li>
            <li class="bot__output bot__output--standard"><span class="bot__command">오늘 하루 어땠우꽈?</span></li>
            <li class="bot__output bot__output--standard">
                <span class="bot__output--second-sentence">나한티 이런 것덜 물어보라</span>
                <ul>
                <li class="input__nested-list">"넌 뭘 하고있어?"</li>
                <!-- <span class="bot__command"></span> -->
                    <li class="input__nested-list">"나랑 대화하자"</li>
                <li class="input__nested-list">"밥 먹었어?"</li>
                <li class="input__nested-list">제주도에서 뭐가 제일 재밌니?</li>
                </ul>
                
            </li>
            </ul>
        </div>
            
            
        <!-- toggle button [voice] -->
        <div>
            <fieldset>
                <label style="margin: 0 auto;">
                  <input role="switch" id="voice_yn" type="checkbox" />
                  <span style="color:white">voice</span>
                </label>
                
            </fieldset>
        </div>
        

            
            
        <div class="chatbox-area">
            <form action="" id="chatform">
                <textarea placeholder="문장을 입력해주세요!" class="chatbox" name="chatbox" resize: "none" minlength="2">안녕하세요</textarea>
                <input class="submit-button" type="submit" value="전송">
            </form>
        </div>
            <div class="block--background"></div>

    </main>


    <div id="hidden_area" style="display:none">
    </div>
        
     <div class="main">
        <div class="loading_circle" id="loadding_bar" style="visibility: hidden;"></div>
    </div>


    <!-- javascript 호출 -->
    <script src="../static/chatbot.js"></script>
</body>
</html>