<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- <script src="/content/flask/templates/index.js"></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주도 사투리 번역기</title>
    <!-- jQuery 불러오기 -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../static/index.js"></script>
</head>
<body>
    <form action="" id="voiceForm">
        <h1>임시 페이지입니다</h1>
        사투리 음성이 나옵니다.
        <br>
        <input type="text" id="sentence" placeholder="사투리를 입력해주세요.">
        <button type="submit">전송</button>      
    </form>
    

    
    <!-- 동적으로 음성 렌더링 -->
    <div id="voice">
    </div>
    
    
   
</body>
</html>