.main{
    width: 90vw;
    margin: 0 auto;
    text-align: center;
  }
  
  .loading_circle {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    
    border: 10px solid #e3e3e3;
    border-bottom: 10px solid #000000;
    border-radius: 50%;
    
    animation: load 1.5s linear infinite;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes load {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }